@model ALMS.API.Models.TrleaveRequestDetail

@{
    ViewData["Title"] = "DeleteLeaveRequest";
}

<h1>DeleteLeaveRequest</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrleaveRequestDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeavesRemaining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeavesRemaining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequestFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequestFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequestTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequestTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequestCreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequestCreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveStatusUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveStatusUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveStatusUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveStatusUpdatedBy)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd class>*@
    </dl>
    
    <form asp-action="DeleteLeaveRequest">
        <input type="hidden" asp-for="LeaveRequestId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
