@model ALMS.API.Models.TrleaveRequestDetail

@{
    ViewData["Title"] = "LeaveRequestDetails";
}

<h1>LeaveRequestDetails</h1>

<div>
    <h4>TrleaveRequestDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeavesRemaining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeavesRemaining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequestFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequestFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequestTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequestTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequestCreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequestCreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveStatusUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveStatusUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveStatusUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveStatusUpdatedBy)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditLeaveRequest", new { LeaveRequestId = Model.LeaveRequestId }) |
    <a asp-action="LeaveRequestIndexManager">Back to List</a>
</div>
